@layer reset, base, tokens, recipes, utilities;

@layer base {
  html,
  body {
    font-family: var(--font-geist-sans);
    min-height: 100dvh;

    display: flex;
    flex-direction: column;

    height: auto;
  }
}

@layer utilities {
  .container {
    width: 100%;
    max-width: clamp(40rem, 0rem + 100vw, 90rem);
    margin-left: auto;
    margin-right: auto;
    padding-left: clamp(
      1rem,
      -0.408450704225352rem + 6.009389671361502vw,
      5rem
    );
    padding-right: clamp(
      1rem,
      -0.408450704225352rem + 6.009389671361502vw,
      5rem
    );
  }
}
